@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind base;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    background-image: url("https://i.ibb.co/nC9pMH3/1609-m00-i125-n001-S-c12-198623492-Topographic-contour-lines-vector-map-seamless-pattern.jpg");
}

@layer utilities {

  .text-balance {
    text-wrap: balance;
  }

  .border-all {
    border-width: 2px;
    border-color: #19192C;
    border-radius: 1rem;
  }
  .scrollbar {
    scrollbar-width: thin;
    scrollbar-arrow-color: #19192c00;
    scrollbar-color: #b9a0ff36 #ffffff00;
  }

  .button-all:hover .button-arrow {
    rotate: -45deg;
  }

  .rotating {
    animation:spin 4s linear infinite;
  }
  @-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
  }
  @-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
  }
  @keyframes spin { 
    100% { 
      -webkit-transform: rotate(360deg); 
      transform:rotate(360deg); 
    } 
  }

  .text-stroke {
    -webkit-text-stroke: 2px #19192C;
  }
}

@Layer base{

  @font-face {
    font-family: "Replica-Bold";
    src: local(Replica-Bold), url("../../public/fonts/Replica-Bold\ Regular.ttf") format(truetype);
  }
  
  @font-face {
    font-family: "ReplicaPro-Light";
    src: local(ReplicaPro-Light), url(../../public/fonts/ReplicaPro-Light.ttf) format(truetype);
  }

}
