@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind base;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background-image: url("https://i.ibb.co/nC9pMH3/1609-m00-i125-n001-S-c12-198623492-Topographic-contour-lines-vector-map-seamless-pattern.jpg");
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .border-all {
    border-width: 2px;
    border-color: #19192c;
    border-radius: 1rem;
  }
  .scrollbar {
    scrollbar-width: thin;
    scrollbar-arrow-color: #19192c00;
    scrollbar-color: #b9a0ff36 #ffffff00;
  }

  .button-all:hover .button-arrow {
    rotate: -45deg;
  }

  .rotating {
    animation: spin 4s linear infinite;
  }
  @-moz-keyframes spin {
    100% {
      -moz-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  .text-stroke-1 {
    -webkit-text-stroke: 1px #19192c;
  }
  .text-stroke-2 {
    -webkit-text-stroke: 1px #f0d4d2;
  }

  .preserve-3d {
    transform-style: preserve-3d;
  }

  .backface-hidden {
    backface-visibility: hidden;
  }

  .transform-x-180 {
    transform: rotateX(180deg);
  }

  .clip-polygon-1 {
    width: 68%;
    height: 90%;
    background-color: #b9a0ff;
    clip-path: polygon(
      50.615% 0.519%,
      50.615% 0.519%,
      50.5% 0.434%,
      50.38% 0.368%,
      50.256% 0.321%,
      50.128% 0.293%,
      50% 0.284%,
      49.872% 0.293%,
      49.744% 0.321%,
      49.62% 0.368%,
      49.5% 0.434%,
      49.385% 0.519%,
      0.485% 41.781%,
      0.485% 41.781%,
      0.256% 42.033%,
      0.103% 42.328%,
      0.02% 42.649%,
      0.005% 42.98%,
      0.053% 43.305%,
      0.16% 43.608%,
      0.323% 43.871%,
      0.536% 44.079%,
      0.796% 44.216%,
      1.099% 44.266%,
      98.901% 44.266%,
      98.901% 44.266%,
      99.204% 44.216%,
      99.464% 44.079%,
      99.677% 43.871%,
      99.84% 43.608%,
      99.947% 43.305%,
      99.995% 42.98%,
      99.98% 42.649%,
      99.897% 42.328%,
      99.744% 42.033%,
      99.516% 41.781%,
      50.615% 0.519%
    );
  }

  .clip-polygon-2 {
    width: 69%;
    height: 100%;
    background-color: #003f30;
    clip-path: polygon(
      49.434% 86.642%,
      49.434% 86.642%,
      49.546% 86.743%,
      49.663% 86.821%,
      49.785% 86.877%,
      49.909% 86.911%,
      50.035% 86.922%,
      50.161% 86.911%,
      50.285% 86.877%,
      50.407% 86.821%,
      50.524% 86.743%,
      50.636% 86.642%,
      99.182% 36.457%,
      99.182% 36.457%,
      99.401% 36.162%,
      99.547% 35.819%,
      99.624% 35.447%,
      99.637% 35.063%,
      99.59% 34.687%,
      99.486% 34.338%,
      99.329% 34.034%,
      99.124% 33.794%,
      98.873% 33.636%,
      98.582% 33.579%,
      1.489% 33.579%,
      1.489% 33.579%,
      1.197% 33.636%,
      0.947% 33.794%,
      0.741% 34.034%,
      0.584% 34.338%,
      0.48% 34.687%,
      0.433% 35.063%,
      0.446% 35.447%,
      0.524% 35.819%,
      0.67% 36.162%,
      0.888% 36.457%,
      49.434% 86.642%
    );
  }

  .clip-contact {
    width: 68%;
    height: 56%;
    background-color: #003f30;
    clip-path: polygon(
      50.615% 79.659%,
      50.615% 79.659%,
      50.5% 79.82%,
      50.38% 79.946%,
      50.256% 80.036%,
      50.128% 80.09%,
      50% 80.107%,
      49.872% 80.09%,
      49.744% 80.036%,
      49.62% 79.946%,
      49.5% 79.82%,
      49.385% 79.659%,
      0% 0%,
      0% 97.391%,
      0% 97.391%,
      0.014% 97.813%,
      0.056% 98.213%,
      0.122% 98.586%,
      0.211% 98.927%,
      0.32% 99.23%,
      0.448% 99.489%,
      0.591% 99.701%,
      0.748% 99.858%,
      0.917% 99.957%,
      1.094% 99.991%,
      98.906% 99.991%,
      98.906% 99.991%,
      99.083% 99.957%,
      99.252% 99.858%,
      99.409% 99.701%,
      99.552% 99.489%,
      99.679% 99.23%,
      99.789% 98.927%,
      99.878% 98.586%,
      99.944% 98.213%,
      99.986% 97.813%,
      100% 97.391%,
      100% 0%,
      50.615% 79.659%
    );
    // clip-path: polygon(
    //   50.615% 79.633%,
    //   50.615% 79.633%,
    //   50.5% 79.795%,
    //   50.38% 79.92%,
    //   50.256% 80.01%,
    //   50.128% 80.063%,
    //   50% 80.081%,
    //   49.872% 80.063%,
    //   49.744% 80.01%,
    //   49.62% 79.92%,
    //   49.5% 79.795%,
    //   49.385% 79.633%,
    //   0% 0.112%,
    //   0% 97.335%,
    //   0% 97.335%,
    //   0.014% 97.756%,
    //   0.056% 98.155%,
    //   0.122% 98.528%,
    //   0.211% 98.868%,
    //   0.32% 99.17%,
    //   0.448% 99.43%,
    //   0.591% 99.641%,
    //   0.748% 99.798%,
    //   0.917% 99.896%,
    //   1.094% 99.93%,
    //   98.906% 99.93%,
    //   98.906% 99.93%,
    //   99.083% 99.896%,
    //   99.252% 99.798%,
    //   99.409% 99.641%,
    //   99.552% 99.43%,
    //   99.679% 99.17%,
    //   99.789% 98.868%,
    //   99.878% 98.528%,
    //   99.944% 98.155%,
    //   99.986% 97.756%,
    //   100% 97.335%,
    //   100% 0.112%,
    //   50.615% 79.633%
    // );
    // clip-path: polygon(
    //   0px 584px,
    //   0px 0px,
    //   676.801px 481.807px,
    //   676.801px 481.807px,
    //   678.412856px 482.80789px,
    //   680.110008px 483.58636px,
    //   681.871132px 484.14241px,
    //   683.674904px 484.47604px,
    //   685.5px 484.58725px,
    //   687.325096px 484.47604px,
    //   689.128868px 484.14241px,
    //   690.889992px 483.58636px,
    //   692.587144px 482.80789px,
    //   694.199px 481.807px,
    //   1371px 0px,
    //   1371px 584px,
    //   1371px 584px,
    //   1370.80356px 586.433012px,
    //   1370.23488px 588.741056px,
    //   1369.32492px 590.893244px,
    //   1368.10464px 592.858688px,
    //   1366.605px 594.6065px,
    //   1364.85696px 596.105792px,
    //   1362.89148px 597.325676px,
    //   1360.73952px 598.235264px,
    //   1358.43204px 598.803668px,
    //   1356px 599px,
    //   15px 599px,
    //   15px 599px,
    //   12.56694426px 598.803668px,
    //   10.25887488px 598.235264px,
    //   8.10667662px 597.325676px,
    //   6.14123424px 596.105792px,
    //   4.3934325px 594.6065px,
    //   2.89415616px 592.858688px,
    //   1.67428998px 590.893244px,
    //   0.76471872px 588.741056px,
    //   0.19632714px 586.433012px,
    //   2.48336617711e-31px 584px
    // );
  }
}

.clip-rect {
  width: 65%;
  height: 55%;
  background-color: #b9a0ff;
  clip-path: polygon(
    100% 0%,
    0% 0%,
    0% 97%,
    0% 97%,
    0.02% 97.487%,
    0.076% 97.948%,
    0.167% 98.379%,
    0.289% 98.772%,
    0.439% 99.121%,
    0.614% 99.421%,
    0.811% 99.665%,
    1.026% 99.847%,
    1.257% 99.961%,
    1.5% 100%,
    98.5% 100%,
    98.5% 100%,
    98.743% 99.961%,
    98.974% 99.847%,
    99.189% 99.665%,
    99.386% 99.421%,
    99.561% 99.121%,
    99.711% 98.772%,
    99.833% 98.379%,
    99.924% 97.948%,
    99.98% 97.487%,
    100% 97%,
    100% 0%
  );
}

@layer base {
  @font-face {
    font-family: "Replica-Bold";
    src: local(Replica-Bold),
      url("../../public/fonts/Replica-Bold\ Regular.ttf") format(truetype);
  }

  @font-face {
    font-family: "ReplicaPro-Light";
    src: local(ReplicaPro-Light),
      url(../../public/fonts/ReplicaPro-Light.ttf) format(truetype);
  }
}
